// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif;
  background-image: url('whitey.png');
}

.index-list {
  height: 500px;
}

.index-img {
  height: 500px;
  width: 500px;
}

.discount-price {
  color: red;
}